[Unit]
Description={SNAP}-packs-runtime-host-rid

[Mount]
What=/snap/{SNAP}/current/usr/lib/dotnet/packs/Microsoft.NETCore.App.Host.ubuntu.22.04-{ARCH}/{RUNTIME_VERSION}
Where=/var/snap/dotnet/common/dotnet/packs/Microsoft.NETCore.App.Host.ubuntu.22.04-{ARCH}/{RUNTIME_VERSION}
Type=none
Options=bind

[Install]
WantedBy=multi-user.target
