[Unit]
Description={SNAP}-packs-runtime

[Mount]
What=/snap/{SNAP}/current/usr/lib/dotnet/packs/Microsoft.NETCore.App.Ref/{RUNTIME_VERSION}
Where=/var/snap/dotnet/common/dotnet/packs/Microsoft.NETCore.App.Ref/{RUNTIME_VERSION}
Type=none
Options=bind

[Install]
WantedBy=multi-user.target
