[Unit]
Description={SNAP}-sdk-manifests-microsoft.net.workload.emscripten.net7

[Mount]
What=/snap/{SNAP}/current/usr/lib/dotnet/sdk-manifests/8.0.100/microsoft.net.workload.emscripten.net7
Where=/var/snap/dotnet/common/dotnet/sdk-manifests/8.0.100/microsoft.net.workload.emscripten.net7
Type=none
Options=bind

[Install]
WantedBy=multi-user.target
