[Unit]
Description={SNAP}-packs-aspnetcore-runtime-rid

[Mount]
What=/snap/{SNAP}/current/usr/lib/dotnet/packs/Microsoft.AspNetCore.App.Runtime.ubuntu.22.04-{ARCH}/{RUNTIME_VERSION}
Where=/var/snap/dotnet/common/dotnet/packs/Microsoft.AspNetCore.App.Runtime.ubuntu.22.04-{ARCH}/{RUNTIME_VERSION}
Type=none
Options=bind

[Install]
WantedBy=multi-user.target
