[Unit]
Description={SNAP}-shared

[Mount]
What=/snap/{SNAP}/current/usr/lib/dotnet/shared/Microsoft.AspNetCore.App/{RUNTIME_VERSION}
Where=/var/snap/dotnet/common/dotnet/shared/Microsoft.AspNetCore.App/{RUNTIME_VERSION}
Type=none
Options=bind

[Install]
WantedBy=multi-user.target
